@model WebApplicationForTest.Models.Вопросы

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Вопросы</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Текст_вопроса)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Текст_вопроса)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Тип_ответа)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Тип_ответа)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Тесты.Название_теста)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Тесты.Название_теста)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_вопроса }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
