@model IEnumerable<WebApplicationForTest.Models.Вопросы>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Текст_вопроса)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Тип_ответа)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Тесты.Название_теста)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Текст_вопроса)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Тип_ответа)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Тесты.Название_теста)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id_вопроса }) |
                @Html.ActionLink("Details", "Details", new { id=item.id_вопроса }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id_вопроса })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
