@model WebApplicationForTest.Models.Результат_вопроса

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Результат_вопроса</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Номер_ответа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Номер_ответа)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Номер_вопроса)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Номер_вопроса)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Правильность_ответа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Правильность_ответа)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Вопросы.Текст_вопроса)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Вопросы.Текст_вопроса)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_результата }) |
    @Html.ActionLink("Back to List", "Index")
</p>
